@import 'public/css/scss/global.scss';


.ext-search-pane__wrapper { float: right; }

.menu-left {
	position: relative;
	z-index: 10;
}
.ext-search-pane { margin:0 0 17px -21px; }

h2 { padding-left: 15px; }

/* GOODS CATEGORY this.PAGE styles */
.goods-category__wrapper {
	position: relative;
	width: 248px;
	padding: 25px 7px 5px;
	background: #e2e2e2;
	border-radius: 5px;
	.category-header {
		width: 100%;
		position: absolute; left: 0; top: 15px;
		padding: 0 7px;
		z-index: 20;
		a { padding-top: 5px;}
	}
	&:hover {
		background: #e81400;
		.category-header {
			a {
				color: #FFF;
				&:before {
					background-position: 0px -31px;
				}
			}
		}
		h4 {
			&.red-pane { background-color: #e81400; }
		}
		.goods-category__item {
			border-color: 2px #f0f0f2 solid;
		}
	}
}
.goods-category__item {
	padding: 10px 0;
}
.goods-category__item__inner {
	background: #FFF;
	&:hover {
		border-color: #f0f0f2;
	}
}
.goods-category__general-link {
	height: 100%;
}
.tw-wrapper {
	&.vertical {
		.tw-controls {
			top: -27px;
			height: 104%;
		}
	}
}

/* GOODS CATEGORY BLOCK styles end */