@import 'public/css/scss/global.scss';

/* bm_karta_tovara.html styles */
.goods {
	.top-menu {
		padding-bottom: 0;
	}
	.breadcrumbs {
		padding-bottom: 20px;
	}
	h2 { padding-bottom: 20px;}
	h4.gray {
		font-weight: normal;
		padding: 15px 0 10px;
	}
	.impact {
		font-size: 23px; color: #ff0000;
	}
	.color-strike { font-size: 23px;}
	.col-5-1 {
		.inner {
			padding-right: 15px;
		}
	}
	.col-5-4 {
		padding-right: 20px;
	}
	.orange-pane {
		width: 100%;
		margin-bottom: 5px;
	}
}
.price-map__head {
	padding-top: 15px;
}
.price-map {
	margin-bottom: 20px;
	.db-tabs {
		margin-bottom: 10px;
	}
}
.execute-banner {
	margin-bottom: 30px;
}

.goods-info {
	margin-bottom: 20px;
	p { font-size: 15px; }
}
	.goods-info__item {
		padding-bottom: 20px;
	}

/* GOODS CATEGORY this.PAGE styles */
.goods-category__wrapper {
	position: relative;
	width: 240px;
	padding: 5px 0;
	background: #e2e2e2;
	border-radius: 5px;
	.category-header {
		width: 100%;
		position: absolute; left: 0; top: 15px;
		padding: 0 7px;
		z-index: 20;
		a { padding-top: 5px;}
	}
	&:hover {
		background: #e81400;
		.category-header {
			a {
				color: #FFF;
				&:before {
					background-position: 0px -31px;
				}
			}
		}
		h4 {
			&.red-pane { background-color: #e81400; }
		}
		.goods-category__item {
			border-color: 2px #f0f0f2 solid;
		}
	}
}
.goods-category__item {
	padding: 10px 0;
	display: inline-block;
}
.goods-category__item__inner {
	background: #FFF;
	&:hover {
		border-color: #f0f0f2;
	}
}
.goods-category__general-link {
	height: 100%;
}

.goods-description {
	padding: 20px 0 50px; margin-bottom: 35px;
	border-top: 1px #c6c6c6 solid;
	border-bottom: 1px #c6c6c6 solid;
	h2 { color: #666666; font-weight: bold;}
}

.category {
	margin-bottom: 50px;
	h2 { margin-bottom: 20px; }
}

/* goods-view */
.goods-view {
	padding-bottom: 60px;
}
.goods-prop {
	padding:0 0 20px;
	> div {
		padding-left:  30px;
	}
}
	.goods-prop__colors {
		padding-top: 25px; margin-top: 15px;
		border-top: 1px #c6c6c6 solid;
	}
		.goods-prop__colors__items {
			ul { margin-bottom: 15px;}
			li {
				display: inline-block;
				width: 50px;
				text-align: center;
				margin-right: 5px;
			}
			img {
				display: block;
				border: 1px #d2cdba solid;
			}
			input { display: inline-block;
				margin-bottom: 5px;
			}
			p { color: #666; font-size: 12px; }
		}
.viewer__image {
	width: 436px; height: 326px;
}
/* goods-view end */

// thumbs
.thumbs-wrapper {
	margin: 0 0;
}
/* bm_karta_tovara.html end */