@import 'public/css/scss/global.scss';

/* bm_korzina.html styles */
.order-list__overall {
	margin-bottom: 25px;
}
.order-list__controls {
	position: relative;
	width: 960px;
	button {
		display: block;
		margin: 0 auto;
	}
	.db-tabs {
		position: absolute; top: 50%;
		width: 100%;
		margin-top: -7px;
	}
}
.order-list__send {
	padding-top: 40px;
}
.order-list__send_attention {
	margin-bottom: 20px;
	@extend %centered;
	p {
		font-size: 12px;
		span { color: $red; }
	}
}
form {
	width: 334px;
	margin: 0 auto;
	> div {
		&:last-child {
			@extend %centered;
			padding-top: 10px;
		}
	}
}
/* bm_korzina.html end */