@import 'public/css/scss/global.scss';

/* bm_tovar.css */
.ext-search-pane__wrapper { float: right; }

.menu-left {
	position: relative;
	z-index: 10;
}
.ext-search-pane { margin:0 0 17px -21px; }

h2 { padding-left: 15px; }

.goods-list {
	padding-left: 11px; 
	ul { @extend %clearfix; }
	li {
		float: left;
		margin-bottom: 10px;
	}
}

.options {
	margin-bottom: 20px;
}
.switch {
	padding-left: 20px;
	.switcher {
		vertical-align: text-bottom;
	}
	a {
		color: #4e4e4f; font-weight: bold; font-size: 12px; font-style: italic;
		text-decoration: underline;
	}
}
.sort {
	color: #4e4e4f; font-weight: bold; font-size: 12px; font-style: italic;
	padding-top: 4px;
}
.button {
	&.radio {
		display: inline-block;
		cursor: pointer;
		font-weight: normal; font-style: normal;
		padding: 0 5px;
		&:before {
			display: inline-block;
			width: 15px; height: 15px;
			vertical-align: middle;
			content: " ";
			background: url($ui-image);
			background-position: -19px 0;
			margin-right: 5px;
		}
		
		&.checked {
			font-weight: bold; font-style: italic;
			&:before {
				background-position: -41px 0;
			}
			
		}
		span { vertical-align: top;}
	}
}

.content-announce {
	padding: 0 0 40px 15px;
	p { font-size: 14px;}
	a { color: $red; text-decoration: underline;}
}
.firm-header {
	width: 200px;
	padding: 0 0 10px 15px;
}
