@import 'public/css/scss/global.scss';
@import 'public/libs/css/scss/blocks/slider.scss';

.slider {
	.container {
		width: 954px;
	}
}
.category-header {
	padding: 0 6px;
}
.news-header {
	position: absolute; top: -5px;
	width: 280px;
	padding: 0 6px; margin-bottom: 20px;
}
