@import 'public/css/scss/global.scss';
section {
	margin-bottom: 40px;
}
.container {
	padding-top: 20px;
}
.this {
	color: #339999; font-family: "Europe_Ext";
	margin-bottom: 20px;
}
.inline {
	> * {
		display: inline-block;
		vertical-align: top;
		margin-right: 20px;
	}
}