/* RESET styles begin */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/* RESET styles end */
.container:after, .col-3:after, .col-4-1:after, .col-4-3:after, .col-5:after, .category-header:after, .news-header:after, .firm-header:after {
  content: "";
  display: table;
  clear: both; }

/* GRID STYLES begin */
body {
  font-family: Arial; }

* {
  box-sizing: border-box;
  vertical-align: top; }

section {
  margin-bottom: 42px; }

article {
  margin-bottom: 40px; }

.container {
  position: relative;
  width: 1000px;
  margin: 0 auto; }

.content-title {
  margin-bottom: 20px; }

.col-3 > div {
  float: left;
  width: 33,333333%; }

.col-4-1 {
  position: relative;
  float: left;
  width: 25%; }

.col-4-3 {
  position: relative;
  float: left;
  width: 75%; }

.col-5 > div {
  float: left;
  width: 20%; }

.col-5-1 {
  float: left;
  width: 20%; }

.col-5-4 {
  float: left;
  width: 80%; }

.tab:before, .tab:after {
  content: " ";
  display: table;
  box-sizing: border-box;
  clear: both; }
.tab > div {
  float: left; }
.tab.col-2 > div {
  width: 50%; }
.tab.col-4 > div {
  width: 25%; }

/* JUSTIFY */
.justified ul {
  margin: 0;
  padding: 0;
  list-style: none; }
.justified > ul {
  text-align: center;
  display: -webkit-box;
  /* Android 4.3-, Safari no optimisation */
  -webkit-box-pack: justify;
  /* Android 4.3-, Safari no optimisation */
  display: -webkit-flex;
  /* optimisation for Safari */
  -webkit-justify-content: space-between;
  /* optimisation for Safari */
  display: flex;
  justify-content: space-between;
  text-align: justify;
  /* IE10-, Firefox 12-22 */
  text-align-last: justify;
  /* IE10-, Firefox 12-22 */
  /*text-justify: newspaper; /* IE7- */
  /*zoom: 1; /* IE7- */ }
  .justified > ul li {
    display: inline-block;
    vertical-align: top;
    text-align: left;
    /*display: inline; /* IE7- */
    /*zoom: 1; /* IE7- */ }

.db-tabs:after {
  display: block;
  width: 100%;
  height: 0px;
  overflow: hidden;
  content: '';
  clear: both; }
.db-tabs > * {
  display: block;
  float: right;
  margin-right: 0; }
.db-tabs > *:first-child {
  float: left !important;
  margin-left: 0; }

/* GRID STYLES end */
/* HEADERS styles */
h2 {
  font-size: 23px; }
  h2.red {
    font-size: 26px;
    color: #f02c25; }
  h2.pointed {
    font-weight: bold;
    white-space: nowrap; }
    h2.pointed:after {
      display: inline-block;
      width: 14px;
      height: 14px;
      margin-left: 10px;
      content: "";
      background-image: url("/libs/img/ui.png");
      background-position: -63px -1px;
      cursor: pointer; }

h3 {
  font-size: 18px; }
  h3.red {
    color: #e81400;
    font-size: 17px;
    font-weight: bold; }
  h3.gray {
    font-size: 16px;
    font-weight: bold;
    color: #4e4e4e; }

h4 {
  font-size: 14px;
  color: #000;
  font-weight: bold; }
  h4.red-pane {
    color: #FFF;
    font-weight: bold;
    white-space: nowrap;
    padding: 5px 10px 6px 8px;
    background: #f02c25; }
  h4.red {
    color: #f02c25;
    text-transform: uppercase; }
  h4.black {
    font-size: 14px;
    color: #000;
    font-style: italic;
    font-weight: bold; }

h5 {
  font-size: 13px; }
  h5.white {
    color: #FFF;
    font-weight: bold;
    font-style: italic; }

h6 {
  font-size: 12px; }

.category-header {
  position: relative; }
  .category-header h4 {
    float: left; }
  .category-header a {
    display: inline-block;
    float: right; }

.news-header h4 {
  float: left; }
.news-header a {
  float: right;
  padding-top: 7px; }

.firm-header h4 {
  position: relative;
  float: left;
  border-radius: 4px; }
  .firm-header h4 .icon {
    position: absolute;
    left: 10px;
    top: 100%; }
.firm-header a {
  float: right;
  padding-top: 7px; }

/* HEADERS styles end */
/* BUTTONS styles begin */
button {
  padding: 8px 25px;
  color: #FFF;
  font-size: 12px;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
  vertical-align: top;
  cursor: pointer;
  border: 0;
  outline: 0; }
  button span {
    display: inline-block;
    width: 20px;
    height: 16px;
    margin-left: 10px;
    background-image: url("/libs/img/ui.png");
    background-position: -95px -48px; }
  button.red-pane {
    background: #f02c25; }
  button.orange-pane {
    background: #ff3300; }
  button.order {
    height: 43px;
    padding: 0 30px; }

.button.controls {
  color: #f02c25;
  font-size: 14px;
  font-weight: bold;
  text-transform: uppercase;
  text-decoration: none; }
  .button.controls:before, .button.controls:after {
    display: inline-block;
    width: 12px;
    height: 9px;
    background-image: url("/libs/img/ui.png");
    content: "";
    background-repeat: no-repeat; }
  .button.controls.prev:before {
    background-position: -84px -28px;
    margin-right: 5px; }
  .button.controls.next:after {
    background-position: -70px -28px;
    margin-left: 5px; }
.button.delete {
  width: 25px;
  height: 25px;
  color: #FFF;
  font-size: 18px;
  font-weight: bold;
  text-align: center;
  padding: 1px;
  background: #f02c25;
  cursor: pointer;
  border-radius: 15px; }
.button.arrowed {
  display: inline-block;
  font-size: 12px;
  font-weight: normal;
  text-transform: lowercase;
  line-height: 12px;
  white-space: nowrap;
  cursor: pointer; }
  .button.arrowed:before {
    display: inline-block;
    width: 11px;
    height: 4px;
    vertical-align: middle;
    margin-right: 5px;
    content: " ";
    background-image: url("/libs/img/ui.png"); }
  .button.arrowed.red {
    color: #f02c25; }
    .button.arrowed.red:before {
      background-position: -32px -31px; }
  .button.arrowed.black {
    color: #000; }
    .button.arrowed.black:before {
      background-position: -16px -31px; }
.button.print, .button.share {
  display: inline-block;
  color: #4b4b4b;
  font-size: 12px;
  text-decoration: none;
  vertical-align: top;
  text-transform: lowercase; }
  .button.print:before, .button.share:before {
    display: inline-block;
    content: "";
    margin-right: 5px;
    background-image: url("/libs/img/ui.png");
    background-repeat: no-repeat; }
.button.print:before {
  width: 14px;
  height: 13px;
  vertical-align: bottom;
  background-position: -95px -277px; }
.button.share:before {
  width: 13px;
  height: 9px;
  vertical-align: middle;
  background-position: -116px -280px; }
.button.switcher {
  display: inline-block;
  width: 44px;
  height: 16px;
  border: 1px #c9c9c9 solid;
  border-radius: 8px;
  background: #e8e8e8;
  cursor: pointer; }
  .button.switcher > div {
    display: inline-block;
    width: 22px;
    height: 14px;
    background: linear-gradient(to top, #b1b1b1, #e1dfdf);
    border-radius: 7px; }
  .button.switcher.on {
    text-align: right; }
    .button.switcher.on > div {
      background: linear-gradient(to top, #c31100, #ff5e4f); }

/* BUTTONS styles end */
/* LINKS styles begin */
.link.more {
  color: #5184b1;
  font-style: italic;
  font-size: 13px;
  text-decoration: none;
  border-bottom: 1px #5184b1 dotted; }
  .link.more:hover {
    border-bottom: none; }
.link.gray {
  color: #4e4e4e;
  font-size: 14px;
  text-decoration: none; }
  .link.gray:hover {
    text-decoration: underline; }

/* LINKS styles end */
.large {
  font-size: 33px; }

.bold {
  font-weight: bold; }

.normal {
  font-weight: normal; }

.impact {
  font-family: 'Impact'; }

.gray {
  color: #b4b4b4; }

.red {
  color: #f02c25; }

p.text {
  font-size: 14px;
  color: #4e4e4e;
  line-height: 16px;
  margin-bottom: 16px; }
p.white {
  color: #FFF;
  font-size: 13px; }
p.red {
  color: #f02c25; }

.color-strike > * {
  position: relative; }
  .color-strike > *:before {
    position: absolute;
    top: 50%;
    left: 0;
    display: block;
    width: 100%;
    border-bottom: 2px #ff0000 solid;
    content: ""; }

/* ICONS styles begin */
.icon {
  display: inline-block;
  background-image: url("/libs/img/ui.png"); }
  .icon.basket.black {
    width: 39px;
    height: 39px;
    background-position: -1px -40px; }
  .icon.basket.white {
    width: 31px;
    height: 25px;
    background-position: -52px -44px; }
  .icon.basket.red {
    width: 24px;
    height: 28px;
    background-position: -124px -39px; }
  .icon.vk {
    width: 24px;
    height: 24px;
    background-position: -1px -90px; }
  .icon.fbk {
    width: 23px;
    height: 24px;
    background-position: -31px -91px; }
  .icon.tw {
    width: 24px;
    height: 24px;
    background-position: -65px -91px; }
  .icon.visa {
    width: 39px;
    height: 17px;
    background-position: -121px -137px; }
  .icon.mc {
    width: 30px;
    height: 18px;
    background-position: -80px -135px; }
  .icon.pay {
    width: 74px;
    height: 29px;
    background-position: -200px -128px; }
  .icon.card {
    width: 25px;
    height: 25px;
    background-position: -174px -132px; }
  .icon.phone {
    width: 53px;
    height: 53px;
    background-position: 0px -208px; }
  .icon.attention {
    width: 18px;
    height: 18px;
    background-position: -33px -306px; }
  .icon.styled-auto {
    width: 24px;
    height: 21px;
    background-position: 0px -304px; }
  .icon.cloud-corner {
    width: 10px;
    height: 6px;
    background-position: -82px -5px; }

/* ICONS styles end */
/* PAGINATION styles begin */
.pages li {
  display: inline-block;
  font-size: 12px;
  color: #f02c25;
  font-weight: bold;
  padding: 0 7px; }
  .pages li:first-child {
    padding-left: 0; }
  .pages li:last-child {
    padding-right: 0; }
  .pages li a {
    font-weight: normal;
    color: #404042;
    text-decoration: none; }
    .pages li a:hover {
      font-weight: bold; }
  .pages li.fwd {
    font-size: 14px;
    margin-left: 14px; }
    .pages li.fwd a {
      text-decoration: underline; }
      .pages li.fwd a:hover {
        font-weight: normal;
        text-decoration: none; }
.pages.quant ul {
  font-size: 14px;
  color: #404042; }
  .pages.quant ul span {
    display: inline-block; }
  .pages.quant ul li {
    padding: 0 3px; }
    .pages.quant ul li a {
      text-decoration: underline; }
      .pages.quant ul li a:hover {
        text-decoration: none;
        font-weight: normal; }

/* PAGINATION styles end */
/* BREADCRUMBS styles*/
.breadcrumbs {
  padding-top: 5px; }
  .breadcrumbs li {
    display: inline-block;
    font-size: 11px;
    color: #4e4e4f; }
    .breadcrumbs li:after {
      display: inline-block;
      content: "/";
      margin-left: 3px; }
    .breadcrumbs li:last-child:after {
      content: ""; }
    .breadcrumbs li.active {
      color: #e81400; }
    .breadcrumbs li a {
      color: #4e4e4f;
      text-decoration: none; }
      .breadcrumbs li a:hover {
        text-decoration: underline; }

/* BREADCRUMBS styles end */
/* HEADER styles begin */
header {
  width: 100%;
  height: 100px;
  color: #FFF;
  font-size: 12px;
  background: #FFF;
  border-bottom: 1px #ff0000 solid; }

.header__topbar {
  height: 27px;
  background: #f02c25; }
  .header__topbar .container {
    padding-left: 308px; }
    .header__topbar .container > div {
      float: left; }

.header__topbar__search {
  font-size: 13px;
  margin-right: 15px; }
  .header__topbar__search input {
    width: 214px;
    background: #f02c25;
    border: none;
    border-bottom: 1px #FFF solid; }
  .header__topbar__search button {
    width: 12px;
    height: 13px;
    vertical-align: bottom;
    padding: 0;
    background: #f02c25 url("/libs/img/ui.png") no-repeat;
    border: none;
    cursor: pointer; }
  .header__topbar__search label {
    vertical-align: bottom; }

.header__topbar__extended-search {
  font-size: 12px;
  margin-right: 38px;
  padding-top: 7px; }
  .header__topbar__extended-search span {
    vertical-align: middle;
    margin-right: 5px; }
  .header__topbar__extended-search a {
    color: #FFF; }

.header__topbar__register {
  padding-top: 7px; }
  .header__topbar__register a {
    color: #FFF; }
  .header__topbar__register span.divider {
    display: inline-block;
    margin: 0 10px; }

.header__content {
  color: #000; }
  .header__content .container {
    padding-top: 13px; }
    .header__content .container > div {
      float: left;
      min-height: 47px;
      border-left: 1px #777 solid; }
      .header__content .container > div:first-child {
        border-left: 0; }
  .header__content .logo {
    margin-top: -12px; }
  .header__content .discont {
    width: 355px;
    padding: 0 8px; }
    .header__content .discont:before, .header__content .discont:after {
      content: " ";
      display: table;
      box-sizing: border-box;
      clear: both; }
  .header__content .discont__left {
    float: left;
    font-size: 13px;
    line-height: 15px; }
  .header__content .discont__right {
    float: right;
    padding-top: 7px;
    line-height: 16px; }
    .header__content .discont__right p {
      font-size: 16px;
      font-weight: bold;
      color: #000; }
    .header__content .discont__right span {
      font-size: 11px;
      font-weight: bold;
      color: #f02c25;
      margin-left: 10px; }
  .header__content .shedule {
    width: 280px;
    font-size: 13px;
    line-height: 15px;
    padding: 11px 19px 0 11px; }
    .header__content .shedule > div {
      float: left; }
      .header__content .shedule > div:last-child {
        float: right; }
    .header__content .shedule p:last-child {
      color: #f02c25;
      font-weight: bold; }
    .header__content .shedule a {
      display: block;
      color: #000; }
      .header__content .shedule a:before {
        display: inline-block;
        width: 11px;
        height: 4px;
        margin-right: 11px;
        background-image: url("/libs/img/ui.png");
        background-position: -15px -31px;
        content: ' ';
        vertical-align: middle; }
  .header__content .shopping_cart {
    font-size: 12px;
    padding: 4px 12px 0;
    width: 192px; }
    .header__content .shopping_cart > div {
      float: left; }
      .header__content .shopping_cart > div:last-child {
        float: right; }
    .header__content .shopping_cart .shopping_cart__right {
      line-height: 14px; }
      .header__content .shopping_cart .shopping_cart__right span {
        color: #f02c25;
        font-weight: bold;
        margin-left: 5px; }
    .header__content .shopping_cart a {
      color: #f02c25; }

/* HEADER styles end */
footer {
  background: #4e4e4e;
  font-size: 14px;
  padding: 26px 0 20px; }
  footer .container > * {
    float: left; }
  footer a {
    color: #FFF;
    text-decoration: none; }
  footer .bar-code {
    margin-right: 52px; }
  footer .vertical-menu {
    padding-top: 11px; }
    footer .vertical-menu.main {
      width: 143px; }
    footer .vertical-menu.services {
      width: 265px; }
    footer .vertical-menu.info {
      width: 175px; }
    footer .vertical-menu li {
      line-height: 15px;
      margin-bottom: 2px; }
  footer .parthners {
    height: 96px;
    width: 178px;
    padding-left: 19px;
    padding-top: 2px;
    margin-top: 7px;
    border-left: 1px #FFF solid; }
    footer .parthners h4 {
      width: 83px;
      font-size: 16px;
      color: #FFF;
      font-weight: bold;
      line-height: 19px;
      margin-bottom: 15px; }
    footer .parthners a {
      display: block;
      text-decoration: underline;
      line-height: 16px; }
  footer .social {
    padding-top: 10px; }
    footer .social .icon {
      display: block;
      margin-bottom: 7px;
      cursor: pointer; }
  footer .bottom-pane {
    color: #FFF;
    float: none; }
    footer .bottom-pane:before, footer .bottom-pane:after {
      content: " ";
      display: table;
      box-sizing: border-box;
      clear: both; }
    footer .bottom-pane > div {
      float: left; }
  footer .bottom-pane__copy {
    width: 454px;
    font-size: 12px;
    padding-top: 17px; }
  footer .bottom-pane__cards {
    width: 348px;
    padding-top: 18px; }
    footer .bottom-pane__cards > * {
      vertical-align: middle;
      margin-right: 10px; }
    footer .bottom-pane__cards span {
      font-size: 11px; }
  footer .bottom-pane__logo-sm {
    padding-top: 18px; }

/* TOP MENU styles begin */
.top-menu {
  padding-bottom: 40px; }
  .top-menu li:first-child {
    margin-left: 0; }
  .top-menu a {
    color: #000;
    font-size: 14px;
    text-decoration: none; }
    .top-menu a:hover {
      color: #f02c25; }
    .top-menu a:last-child {
      margin-right: 0; }

.top-menu__wrapper {
  width: 1000px;
  margin: 0 auto;
  padding: 12px 0 16px;
  border-bottom: 1px #e5e5e5 solid; }

/* TOP MENU styles end */
/* LEFT MENU styles */
.menu-left {
  width: 246px;
  height: 291px;
  border: 1px #f4f4f4 solid;
  border-radius: 7px;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
  background: #FFF; }
  .menu-left h3 {
    margin-bottom: 19px; }
  .menu-left li {
    font-size: 13px; }
    .menu-left li > ul a {
      padding: 11px 10px 4px 27px; }
    .menu-left li a {
      display: block;
      line-height: 16px;
      padding: 11px 0 4px 2px;
      color: #000;
      border-bottom: 1px #f4f4f4 dashed; }
      .menu-left li a:hover {
        color: #f02c25;
        text-decoration: none; }
      .menu-left li a:before {
        display: inline-block;
        width: 4px;
        height: 6px;
        vertical-align: middle;
        content: " ";
        color: #f02c25;
        margin-right: 11px;
        background-image: url("/libs/img/ui.png");
        background-repeat: no-repeat;
        background-position: -50px -30px; }

.menu-left__inner {
  padding: 17px 0 0 10px; }

/* left menu styles end */
/* EXTENDED SEARCH PANE styles */
.ext-search-pane {
  position: relative;
  width: 770px;
  height: 75px;
  padding: 10px 14px 0 31px;
  background: #e81400;
  border-radius: 10px; }

.ext-search-pane__input input {
  display: block;
  float: left;
  height: 29px;
  margin-bottom: 8px;
  border: 0;
  border-radius: 0;
  outline: 0; }
.ext-search-pane__input input[type=text] {
  width: 649px; }
.ext-search-pane__input input[type=submit] {
  width: 76px;
  color: #FFF;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 14px;
  text-align: center;
  background: #000;
  cursor: pointer; }

.ext-search-pane__filter {
  position: absolute;
  left: 191px;
  top: 10px;
  height: 29px;
  background: #e2e1e1;
  padding: 5px 0 5px 11px; }
  .ext-search-pane__filter > div {
    float: left;
    margin-right: 9px; }
  .ext-search-pane__filter input {
    width: 140px;
    font-size: 12px;
    padding-left: 8px;
    border: 0;
    outline: 0;
    border-radius: 10px; }

.ext-search-pane__filter__range label {
  font-size: 12px;
  padding-right: 5px; }
.ext-search-pane__filter__range input {
  width: 51px; }

.ext-search-pane__extra {
  color: #FFF;
  font-weight: bold;
  font-style: italic;
  font-size: 11px; }
  .ext-search-pane__extra a {
    color: #FFF;
    font-weight: normal;
    text-decoration: underline; }
  .ext-search-pane__extra > div:first-child a {
    font-size: 11px; }
  .ext-search-pane__extra > div:last-child a {
    font-size: 12px; }
    .ext-search-pane__extra > div:last-child a:before {
      display: inline-block;
      width: 4px;
      height: 7px;
      content: " ";
      margin-right: 3px;
      background-image: url("/libs/img/ui.png");
      background-repeat: no-repeat;
      background-position: -59px -30px; }

/* EXTENDED SEARCH PANE styles end */
/* BOTTOM TEXT PANE styles begin */
.bottom-text-pane > div:first-child {
  float: left;
  width: 600px;
  padding-left: 15px; }
  .bottom-text-pane > div:first-child h3 {
    margin-bottom: 19px; }
.bottom-text-pane > div:last-child {
  position: relative;
  float: right; }
.bottom-text-pane:before, .bottom-text-pane:after {
  content: " ";
  display: table;
  box-sizing: border-box;
  clear: both; }

.tags-banner {
  width: 369px;
  height: 260px;
  padding: 45px 75px 0 32px;
  background: #EEE; }
  .tags-banner h4 {
    position: absolute;
    left: 27px;
    top: -7px; }
  .tags-banner a {
    margin-right: 3px;
    white-space: nowrap; }
    .tags-banner a:after {
      position: relative;
      top: -1px;
      display: inline-block;
      content: "|";
      margin-left: 3px; }
    .tags-banner a:last-child:after {
      margin-right: 0;
      content: " "; }

/* BOTTOM TEXT PANE styles end*/
/* SERVISE BANNER styles */
.service-banner {
  position: relative;
  float: left;
  width: 372px;
  height: 279px;
  padding: 24px 0px 0px 20px;
  margin-right: 28px;
  background: #F02C25; }
  .service-banner h2 {
    width: 220px;
    height: 148px;
    color: #FFF;
    font-weight: bold;
    line-height: 27px; }

.service-banner__callback a {
  position: absolute;
  top: 0px;
  right: 20px;
  display: inline-block;
  width: 67px;
  color: #FFF;
  font-weight: bold;
  font-size: 13px;
  text-decoration: none; }

.service-banner__phone p {
  color: #FFF;
  font-weight: bold;
  margin-bottom: 7px; }
  .service-banner__phone p.title {
    font-size: 15px; }
  .service-banner__phone p.number {
    font-size: 34px; }
  .service-banner__phone p.operator {
    font-size: 12px;
    font-weight: normal; }

/* execute banner styles */
.execute-banner {
  width: 185px;
  height: 262px;
  background: #e6e6e6; }

.execute-banner__inner {
  padding: 15px 5px 0px 10px; }

.execute-banner__title {
  padding-bottom: 11px; }
  .execute-banner__title > div:first-child {
    padding-top: 2px; }
  .execute-banner__title > div:last-child {
    width: 140px; }
  .execute-banner__title h5 {
    line-height: 13px; }
  .execute-banner__title p {
    font-size: 11px;
    font-style: italic;
    line-height: 13px; }

.execute-banner__text p {
  font-size: 13px;
  font-style: italic;
  margin-bottom: 17px; }
  .execute-banner__text p span {
    font-weight: bold;
    font-style: normal; }

/* execute end */
.thumbs .item {
  width: 70px;
  height: 70px; }

.tw-wrapper, .thumbs-wrapper {
  position: relative;
  margin: 0 auto; }
  .tw-wrapper.horizontal .tw-items, .thumbs-wrapper.horizontal .tw-items {
    width: 9999px; }
    .tw-wrapper.horizontal .tw-items:before, .tw-wrapper.horizontal .tw-items:after, .thumbs-wrapper.horizontal .tw-items:before, .thumbs-wrapper.horizontal .tw-items:after {
      display: table;
      content: "";
      visibility: hidden;
      clear: both; }
    .tw-wrapper.horizontal .tw-items > div, .thumbs-wrapper.horizontal .tw-items > div {
      float: left; }
  .tw-wrapper.horizontal .tw-controls:before, .tw-wrapper.horizontal .tw-controls:after, .thumbs-wrapper.horizontal .tw-controls:before, .thumbs-wrapper.horizontal .tw-controls:after {
    display: table;
    content: "";
    visibility: hidden;
    clear: both; }
  .tw-wrapper.horizontal .tw-controls > div, .thumbs-wrapper.horizontal .tw-controls > div {
    position: relative;
    z-index: 200;
    cursor: pointer; }
    .tw-wrapper.horizontal .tw-controls > div:first-child, .thumbs-wrapper.horizontal .tw-controls > div:first-child {
      float: left; }
    .tw-wrapper.horizontal .tw-controls > div:last-child, .thumbs-wrapper.horizontal .tw-controls > div:last-child {
      float: right; }
  .tw-wrapper.vertical .tw-controls, .thumbs-wrapper.vertical .tw-controls {
    position: absolute;
    top: 0;
    bottom: 0;
    height: 100%;
    min-height: 100%; }
    .tw-wrapper.vertical .tw-controls:before, .tw-wrapper.vertical .tw-controls:after, .thumbs-wrapper.vertical .tw-controls:before, .thumbs-wrapper.vertical .tw-controls:after {
      display: table;
      content: "";
      visibility: hidden;
      clear: both; }
    .tw-wrapper.vertical .tw-controls > div, .thumbs-wrapper.vertical .tw-controls > div {
      cursor: pointer; }
      .tw-wrapper.vertical .tw-controls > div:last-child, .thumbs-wrapper.vertical .tw-controls > div:last-child {
        position: absolute;
        bottom: 0; }

.tw-items {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 100; }

.tw-viewport {
  position: relative;
  width: 100%;
  overflow: hidden; }

/* GOODS CATEGORY styles */
.goods-category__item {
  position: relative;
  display: block;
  padding: 5px; }
  .goods-category__item h4 {
    font-size: 15px;
    color: #f02c25;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 13px;
    padding-left: 3px; }
  .goods-category__item h5 {
    font-size: 14px;
    color: #000;
    font-weight: bold;
    font-style: italic;
    line-height: 25px;
    margin-bottom: 5px;
    padding-left: 14px; }
  .goods-category__item img {
    width: 100%;
    height: 180px; }

.goods-category__item__inner {
  width: 234px;
  border: 2px #f0f0f2 solid;
  margin: 0 auto;
  border-radius: 3px; }
  .goods-category__item__inner:hover {
    border-color: #f02c25; }

.goods-category__general-link {
  display: block; }
  .goods-category__general-link img {
    line-height: 0; }

.goods-category__price {
  padding: 0 20px 13px 14px; }
  .goods-category__price div:first-child {
    width: 145px;
    padding-right: 10px; }
    .goods-category__price div:first-child p {
      color: #f02c25;
      font-size: 23px;
      font-weight: bold;
      line-height: 15px; }
      .goods-category__price div:first-child p.striked {
        color: #000;
        font-size: 12px;
        font-weight: normal;
        text-decoration: line-through;
        margin-bottom: 3px; }
      .goods-category__price div:first-child p span {
        font-size: 15px; }
  .goods-category__price div:last-child {
    width: 48px;
    height: 38px;
    padding: 7px;
    background: #f02c25; }

.goods-category__menu li {
  width: 100%;
  border-bottom: 1px #d9d9da solid;
  background: #f0f0f2; }
  .goods-category__menu li:hover {
    background: #e3e3e5; }
  .goods-category__menu li:last-child {
    border-bottom: 0; }
.goods-category__menu a {
  display: inline-block;
  width: 100%;
  font-size: 14px;
  color: #323030;
  text-decoration: none;
  padding: 7px 0 7px 16px; }

.goods-category__description {
  background: #F0F0F2;
  padding: 14px 16px; }
  .goods-category__description p {
    font-size: 12px;
    color: #000;
    line-height: 14px; }

/* GOODS CATEGORY styles end */
/* CATEGORY CAROUSEL styles */
.category-carousel {
  background: #e2e2e2; }

.category-carousel__item {
  padding: 14px 10px;
  cursor: pointer; }
  .category-carousel__item .inner {
    position: relative;
    width: 224px;
    height: 217px;
    border: 2px #f0f0f0 solid; }
    .category-carousel__item .inner:hover {
      border-color: #e81400; }
      .category-carousel__item .inner:hover .category-carousel__item__title p {
        color: #e81400; }
  .category-carousel__item img {
    width: 100%;
    height: 100%; }

.category-carousel__item__title {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 37px;
  vertical-align: top;
  text-align: center;
  padding-top: 12px;
  background: #f0f0f2; }
  .category-carousel__item__title p {
    font-size: 14px;
    font-weight: bold;
    color: #525252; }

.horizontal .tw-controls {
  position: absolute;
  top: 50%;
  margin-top: -15px;
  width: 100%; }
  .horizontal .tw-controls > div {
    width: 22px;
    height: 30px;
    background-color: #f02c25;
    background-image: url("/libs/img/carousel-ui.png");
    background-repeat: no-repeat;
    z-index: 10; }
    .horizontal .tw-controls > div:first-child {
      background-position: 3px 6px;
      margin-left: -6px; }
    .horizontal .tw-controls > div:last-child {
      background-position: -53px 6px;
      margin-right: -6px; }

.vertical .tw-controls {
  position: absolute;
  left: 50%;
  margin-left: -15px; }
  .vertical .tw-controls > div {
    width: 30px;
    height: 22px;
    background-color: #f02c25;
    background-image: url("/libs/img/carousel-ui.png");
    background-repeat: no-repeat;
    z-index: 10; }
    .vertical .tw-controls > div:first-child {
      margin-top: -8px;
      background-position: -47px -25px; }
    .vertical .tw-controls > div:last-child {
      margin-bottom: -8px;
      background-position: 6px -25px; }

/* thumbs carousel */
.thumbs.category-carousel {
  background: #FFF; }
.thumbs .category-carousel__item {
  padding: 14px 3px;
  cursor: pointer; }
  .thumbs .category-carousel__item .inner {
    position: relative;
    display: inline-block;
    width: 106px;
    height: 74px;
    border: none; }
  .thumbs .category-carousel__item img {
    width: 100%;
    height: 100%; }

.thumbs-wrapper .tw-controls {
  position: absolute;
  top: 50%;
  margin-top: -15px;
  width: 100%; }
  .thumbs-wrapper .tw-controls > div {
    width: 14px;
    height: 19px;
    background-color: #f02c25;
    background-image: url("/libs/img/carousel-ui.png");
    background-repeat: no-repeat;
    z-index: 200; }
    .thumbs-wrapper .tw-controls > div:first-child {
      background-position: 1px -50px;
      margin-left: -6px; }
    .thumbs-wrapper .tw-controls > div:last-child {
      background-position: -60px -50px;
      margin-right: -6px; }

/* CATEGORY CAROUSEL styles end */
/* TABLES STYLES begin */
.order-list {
  position: relative; }
  .order-list table {
    background: #e6e6e6; }
    .order-list table td {
      vertical-align: middle;
      border-top: 5px #FFF solid;
      border-bottom: 5px #FFF solid;
      border-right: 5px #FFF solid;
      border-left: 5px #FFF solid; }
      .order-list table td:first-child {
        border-left: none; }
      .order-list table td:last-child {
        border-right: none; }
      .order-list table td.name {
        width: 616px; }
      .order-list table td.price {
        width: 101px; }
      .order-list table td.quantity {
        width: 112px; }
      .order-list table td.cost {
        width: 131px; }
    .order-list table tr:first-child td {
      border-top: none; }
    .order-list table thead {
      font-size: 14px;
      font-weight: bold;
      color: #000; }
      .order-list table thead td {
        height: 46px;
        text-align: center;
        padding: 0 4px; }
        .order-list table thead td:first-child {
          text-align: left;
          padding-left: 15px; }
    .order-list table tbody td {
      color: #f02c25;
      font-weight: bold;
      text-align: center; }
      .order-list table tbody td:first-child {
        text-align: left; }

.order-list__item td:first-child {
  padding: 14px 0 13px 19px; }
.order-list__item .img {
  width: 150px;
  height: 123px; }
  .order-list__item .img img {
    width: 100%;
    height: 100%; }
.order-list__item span {
  display: inline-block;
  width: 20px;
  height: 20px;
  padding-top: 2px;
  background: #FFF; }

.order-list__item__description {
  width: 444px;
  padding: 22px 0 0 40px; }
  .order-list__item__description h4, .order-list__item__description p {
    margin-bottom: 3px; }
  .order-list__item__description p {
    font-size: 14px;
    font-style: italic;
    color: #000;
    font-weight: normal; }
  .order-list__item__description a {
    margin-top: 20px; }

.close-pane {
  position: absolute;
  right: 8px;
  top: 112px; }
  .close-pane > div {
    margin-bottom: 129px; }

.order-list__overall {
  width: 960px;
  height: 50px;
  font-weight: bold;
  color: #000;
  font-size: 14px;
  text-align: center;
  padding-top: 12px;
  background: #c3c3c3; }
  .order-list__overall span.upper {
    text-transform: uppercase;
    color: #FFF; }
  .order-list__overall span.large {
    font-size: 24px; }

.goods-prop h4 {
  margin-bottom: 23px; }
.goods-prop table {
  font-size: 13px;
  color: #3c3c3c;
  margin-bottom: 10px; }
  .goods-prop table tr {
    border-bottom: 1px #bebebe dotted; }
    .goods-prop table tr td {
      padding: 7px 0 7px 3px; }
      .goods-prop table tr td:first-child {
        width: 171px;
        font-weight: bold; }

/* TABLES STYLES end */
form.order > div {
  position: relative;
  margin-bottom: 9px; }
  form.order > div div {
    position: absolute;
    right: 20px;
    top: 0; }
form.order label {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  color: #6f6f77;
  font-size: 12px;
  vertical-align: top;
  border-radius: 4px;
  outline: 0;
  padding: 7px 5px 0; }
  form.order label span {
    color: #f02c25; }
form.order input[type="text"] {
  height: 26px;
  width: 100%;
  color: #6f6f77;
  font-size: 12px;
  vertical-align: top;
  border-radius: 4px;
  outline: 0;
  line-height: 20px;
  padding: 0 5px 0;
  border: 1px #cbcbcb solid;
  background: #FFF; }
form.order textarea {
  height: 98px;
  width: 100%;
  color: #6f6f77;
  font-size: 12px;
  vertical-align: top;
  border-radius: 4px;
  outline: 0;
  padding: 0 5px 0;
  border: 1px #cbcbcb solid;
  background: #FFF; }
form.order .alert {
  position: absolute;
  left: 100%;
  font-style: italic;
  color: #6f6f77;
  font-weight: bold;
  font-size: 12px;
  padding: 7px 5px 0;
  white-space: nowrap; }

/* news list preview styles begin */
.news-list__item {
  width: 244px;
  padding: 0 20px; }

.news-list {
  position: relative;
  height: 212px;
  padding: 40px 0px 0px 27px;
  background: none repeat scroll 0% 0% #EEE; }
  .news-list h5 {
    display: inline-block;
    font-size: 12px;
    font-weight: bold;
    color: #fff;
    padding: 1px 2px;
    margin-bottom: 3px;
    background: #484848;
    border-radius: 3px; }
  .news-list h6 {
    margin-bottom: 7px; }
  .news-list a {
    font-size: 12px;
    color: #323030;
    font-weight: bold; }

.news-list__text {
  font-size: 12px;
  color: #323030;
  line-height: 15px; }

/* news list preview styles end */
/* features list styles begin*/
.features {
  float: left;
  width: 600px;
  padding-top: 5px; }
  .features h2 {
    height: 18px;
    color: #323030;
    font-size: 23px;
    font-weight: normal;
    text-transform: uppercase;
    margin-bottom: 13px; }
    .features h2:before {
      display: inline-block;
      margin-right: 5px;
      content: ' ';
      background-image: url("/libs/img/ui.png");
      vertical-align: top; }
  .features li {
    width: 190px; }
    .features li.economy h2:before {
      width: 21px;
      height: 21px;
      background-position: -1px -273px; }
    .features li.garantee h2:before {
      width: 21px;
      height: 24px;
      background-position: -34px -273px; }
    .features li.comfort h2:before {
      width: 24px;
      height: 21px;
      background-position: -59px -273px; }

.features__text {
  color: #323030;
  font-size: 14px;
  line-height: 17px; }

/* features list styles end*/
/* bm_karta_tovara.html styles */
.goods .top-menu {
  padding-bottom: 0; }
.goods .breadcrumbs {
  padding-bottom: 20px; }
.goods h2 {
  padding-bottom: 20px; }
.goods h4.gray {
  font-weight: normal;
  padding: 15px 0 10px; }
.goods .impact {
  font-size: 23px;
  color: #ff0000; }
.goods .color-strike {
  font-size: 23px; }
.goods .col-5-1 .inner {
  padding-right: 15px; }
.goods .col-5-4 {
  padding-right: 20px; }
.goods .orange-pane {
  width: 100%;
  margin-bottom: 5px; }

.price-map__head {
  padding-top: 15px; }

.price-map {
  margin-bottom: 20px; }
  .price-map .db-tabs {
    margin-bottom: 10px; }

.execute-banner {
  margin-bottom: 30px; }

.goods-info {
  margin-bottom: 20px; }
  .goods-info p {
    font-size: 15px; }

.goods-info__item {
  padding-bottom: 20px; }

/* GOODS CATEGORY this.PAGE styles */
.goods-category__wrapper {
  position: relative;
  width: 240px;
  padding: 5px 0;
  background: #e2e2e2;
  border-radius: 5px; }
  .goods-category__wrapper .category-header {
    width: 100%;
    position: absolute;
    left: 0;
    top: 15px;
    padding: 0 7px;
    z-index: 20; }
    .goods-category__wrapper .category-header a {
      padding-top: 5px; }
  .goods-category__wrapper:hover {
    background: #e81400; }
    .goods-category__wrapper:hover .category-header a {
      color: #FFF; }
      .goods-category__wrapper:hover .category-header a:before {
        background-position: 0px -31px; }
    .goods-category__wrapper:hover h4.red-pane {
      background-color: #e81400; }
    .goods-category__wrapper:hover .goods-category__item {
      border-color: 2px #f0f0f2 solid; }

.goods-category__item {
  padding: 10px 0;
  display: inline-block; }

.goods-category__item__inner {
  background: #FFF; }
  .goods-category__item__inner:hover {
    border-color: #f0f0f2; }

.goods-category__general-link {
  height: 100%; }

.goods-description {
  padding: 20px 0 50px;
  margin-bottom: 35px;
  border-top: 1px #c6c6c6 solid;
  border-bottom: 1px #c6c6c6 solid; }
  .goods-description h2 {
    color: #666666;
    font-weight: bold; }

.category {
  margin-bottom: 50px; }
  .category h2 {
    margin-bottom: 20px; }

/* goods-view */
.goods-view {
  padding-bottom: 60px; }

.goods-prop {
  padding: 0 0 20px; }
  .goods-prop > div {
    padding-left: 30px; }

.goods-prop__colors {
  padding-top: 25px;
  margin-top: 15px;
  border-top: 1px #c6c6c6 solid; }

.goods-prop__colors__items ul {
  margin-bottom: 15px; }
.goods-prop__colors__items li {
  display: inline-block;
  width: 50px;
  text-align: center;
  margin-right: 5px; }
.goods-prop__colors__items img {
  display: block;
  border: 1px #d2cdba solid; }
.goods-prop__colors__items input {
  display: inline-block;
  margin-bottom: 5px; }
.goods-prop__colors__items p {
  color: #666;
  font-size: 12px; }

.viewer__image {
  width: 436px;
  height: 326px; }

/* goods-view end */
.thumbs-wrapper {
  margin: 0 0; }

/* bm_karta_tovara.html end */

/*# sourceMappingURL=bm_karta_tovara.css.map */
