.tags
{

}
.tags__link {
	color: #4e4e4e; font-size: 14px; 
	text-decoration: none;
	margin-right: 3px; 
}
.tags__link:hover { text-decoration: underline;}

.tags__link:after {
	position: relative;
	top: -1px;
	display: inline-block;
	content: "|";
	margin-left: 3px;
}
.tags__link:last-child:after {
	margin-right: 0;
	content: " ";
}